<div class="row justify-content-center">
  <div class="col-md-11 align-self-center jumbotron">
    <div class="text-info"><%= notice %></div>
    <h2 class="mb-3 font-weight-normal text-center">マイプロフィール</h2>

    <div class="card">
      <div class="card-header">ユーザーネーム</div>
      <div class="card-body">
        <h5 class="card-title"><%= @user.user_name %></h5>
      </div>
    </div>

    <div class="card">
      <div class="card-header">メールアドレス</div>
      <div class="card-body">
        <h5 class="card-title"><%= @user.email %></h5>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-6">
        <p class="text-center hover"><%= link_to '新しい投稿をする', new_album_path, class: "btn btn-light text-danger border-danger" %></p>
      </div>
      <div class="col-md-6">
        <p class="text-center hover"><%= link_to 'みんなの投稿を見る', albums_path, class: "btn btn-light text-primary border-primary" %></p>
      </div>
    </div>
  </div>
</div>
  
<div class = "row">
  <div class="col-md-6">
    <div class = "card bg-warning">
      <h4 class = "card-header text-center text-white">お気に入り一覧</h4>
      <ul class = "list-group">
        <% @favorite_albums.each do |favorite_album| %>
          <li class = "list-group-item">
            <div class = "card-body">
              <strong class="card-title"><%= link_to favorite_album[:title], album_path(favorite_album[:id]) %></strong>
              <br><br>
              
              <div class = "image">
                <% if favorite_album.image.url %>
                  <%= image_tag(favorite_album.image.url) %>
                <% else %>
                  画像の投稿はありません。
                <% end %>
              </div>
              
              <div class = "card-text">
                <%= favorite_album[:content] %>
              </div>
              
            </div>
            <div class = "card-footer">
              <em>投稿者 <%= User.find(favorite_album[:user_id]).user_name %></em>
              <small><p class="text-right">更新日時 <%= favorite_album[:updated_at] %></p></small>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <br><br>
  
  <div class="col-md-6">
    <div class = "card bg-primary">
      <h4 class = "card-header text-center text-white">自分の投稿一覧</h4>
      <ul class = "list-group">
        <% @my_albums.each do |my_album| %>
          <li class = "list-group-item">
            <div class = "card-body">
              <strong class="card-title"><%= link_to my_album[:title], album_path(my_album[:id]) %></strong>
              <br><br>
              <div class = "image">
                <% if my_album.image.url %>
                  <%= image_tag(my_album.image.url) %>
                <% else %>
                  画像の投稿はありません。
                <% end %>
              </div>
              <br>
              <div class = "card-text">
                <%= my_album[:content] %>
              </div>
            </div>
            <div class = "card-footer">
              <em>投稿者 <%= User.find(my_album[:user_id]).user_name %></em>
              <small><p class="text-right">更新日時 <%= my_album[:updated_at] %></p></small>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>